*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.main{
    width: 100%;
    color: #A6ADBA;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: #1D2735;
    color: #A6ADBA;
}
.nav{
    width: 80%;

    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>h2{
        margin: 0;
        font-size: 2rem;
        font-weight: 800;
    }
    &>.nav-btn{
        height: 40%;
        padding: 5px 10px;
        font-size: 1.2rem;
        color: #1D2735;
        font-weight: 600;
        background-color: #A6ADBA;
        border: none;
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        &:hover{
            background-color: #cbd1db;
            color: #1D2735;
        }
        &:active{
            background-color: #8395A8;
            color: #A6ADBA;
        }
    }

}
.herobox{
    width: 60%;
    margin:0 auto;
    text-align: center;
    &>h1{
        margin: 20px 0;
        font-size: 3.5rem;
        font-weight: 800;
        color: #A6ADBA;
    }
    &>p{
        font-size: 1.3rem;
        margin: 20px 0;
        font-weight: 400;
        color: #A6ADBA;
    }
    &>button{
        padding: 10px 20px;
        font-size: 1.2rem;
        color: #A6ADBA;
        font-weight: 600;
        background-color: #5d19db;
        border: none;
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        &:hover{
            background-color: #7548f0;
            color: #A6ADBA;
        }
        &:active{
            background-color: #cbd1db;
            color: #1D2735;
        }
    }
}
.midlecontainer{
    width: 100%;
    background-color: #1D232A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchbar{
    width: 80%;
   
    padding: 300px 0 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 &>h2{
     margin: 0;
     font-size: 2.5rem;
     font-weight: 800;
     color: #A6ADBA;
 }
}
.searchcontainer{
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
#searchInput{
    width: 30%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    &::placeholder{
        color: #A6ADBA;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
}
#btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #A6ADBA;
    font-weight: 600;
    background-color: #5d19db;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    &:hover{
        background-color: #7548f0;
        color: #A6ADBA;
    }
    &:active{
        background-color: #cbd1db;
        color: #1D2735;
    }
}
#phoneList{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-item{
    width: 30%;
    padding: 20px;
    margin: 10px auto;
    text-align: center;

    border-radius: 10px;
    &>img{
        border-radius: 12px;
    }
    &>h2{
        margin: 10px 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: #A6ADBA;
    }
    &>p{
        margin: 10px 0
    }
    &>button{
        padding: 10px 20px;
       font-size: 1.2rem;
        color: #A6ADBA;
        font-weight: 600;
        background-color: #5d19db;
        border: none;
        border-radius: 10px;
        &:hover{
            background-color: #7548f0;
            color: #A6ADBA;
        }
        &:active{
            background-color: #cbd1db;
            color: #1D2735;
        }
    }
}
.phone-image {
    width: 80%;
    margin: 0 auto;
    height: 0px;
    display: flex;
    position: relative;
    top:300px;
    justify-content: center; 
    align-items: flex-end; 
    gap: 20px; 
}

.phone-image .iphon1 {
    width: 20%; 
    height: auto; 
}

.phone-image .iphon2 {
    width: 30%; 
    height: auto; 
}

footer{
     width: 100%;
    background-color: #1D2735;
}
.foot{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
    color: #A6ADBA;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #showAllBtn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #A6ADBA;
    font-weight: 600;
    background-color: #5d19db;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    margin: 20px auto;
    display: block;
    cursor: pointer;
  }
  
  #showAllBtn:hover {
    background-color: #7548f0;
  }
  
  #showAllBtn:active {
    background-color: #cbd1db;
    color: #1D2735;
  }
  

@media (max-width: 770px) {
    .nav {
      width: 90%;
      flex-direction: column;
      height: auto;
      & > h2 {
        font-size: 1.5rem;
      }
      & > .nav-btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  .hero{
    height: 80vh;
  }
    .herobox {
      width: 90%;
      & > h1 {
        font-size: 2.5rem;
      }
      & > p {
        font-size: 1rem;
      }
      & > button {
        width: 100%;
      }
    }
  
    .searchbar {
      width: 90%;
      padding: 150px 0 20px 0;
      & > h2 {
        font-size: 2rem;
      }
    }
  
    .searchcontainer {
      flex-direction: column;
      & > #searchInput {
        width: 100%;
        margin-bottom: 10px;
      }
      & > #btn {
        width: 100%;
      }
    }
  
    #phoneList {
      flex-direction: column;
      & > .phone-item {
        width: 90%;
      }
    }
  
    .phone-image {
    
      top: 50px;
      & .iphon1 {
        width: 20%;
      }
      & .iphon2 {
        width: 30%;
      }
    }
  
    .foot {
      width: 90%;
      padding: 50px 0;
    }
  }
  